/target
/pkg
node_modules
dist
.data
.env
.DS_Store

/artifacts/
/docs/api-reference/
/docs/.vitepress/cache/
/.vercel/
.env.local
.env.*.local

/docs/public/schemas/
/docs/public/docs/schemas/

/cli/backend/
